<button type="button"
        class="btn btn-link icon-no-margin p-0 d-flex align-items-center justify-content-center activitycopycart-add-to-cart-btn"
        title="{{#str}} addtocopycart, block_activity_copy_cart {{/str}}"
        aria-label="{{#str}} addtocopycart, block_activity_copy_cart {{/str}}">
    <i class="icon fa-solid fa-cart-arrow-down" aria-hidden="true"></i>
</button>
