<div id="activitycopycart-settings-modal" class="container-fluid" data-region="settings-modal">
    <!-- Error summary injected dynamically by Validation.showSummary() -->
    <div class="activitycopycart-error-summary"></div>
    {{> block_activity_copy_cart/block/item/settings/groups/general }}
    {{> block_activity_copy_cart/block/item/settings/groups/placement }}
    {{> block_activity_copy_cart/block/item/settings/groups/advanced }}
</div>
